<div class="container">
    <%- include('../partials/messages') %>
        <h1>Dashboard</h1>
        <form action="/logout" method="post">
            <button>Logout</button>
        </form>
</div>
<%- include('../partials/messages') %>
    <% const groups=variables[0] %>
        <% for( let i=0; i < groups.length; i++ ) { %>
            <div>
                <h4>
                    <%= groups[i].name %>
                </h4>
                <a href="/editGroupForm/<%= groups[i]._id %>">Editar</a>
                <p>
                    <%= groups[i].description %>
                </p>

                <form action="deleteGroup/<%= groups[i]._id %>?_method=DELETE" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit">Delete</button>
                </form>
            </div>
            <% } %>