<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserEdit</title>
    <link rel="stylesheet" href="/css/userEdit.css">
</head>

<body>
    <div class="container">
        <%- include('../partials/messages')  %>
        <div class="cardBox">
            <img src="/img/user3.png" alt="user image" id="editUserImg">
            <div class="title">
                <h2>Modificar perfil</h2>
            </div>
            <form action="/user/edit/<%= user._id %>?_method=PUT" method="post" class="form">
                <input type="hidden" name="method" value="PUT">
                <input type="text" name="name" class="formInput" value="<%= user.name %>">
                <input type="text" name="ap1" class="formInput" value="<%= user.ap1 %>">
                <input type="text" name="ap2" class="formInput" value="<%= user.ap2 %>">
                <input type="email" name="email" class="formInput" value="<%= user.email %>">
                <button type="submit" class="btnSubmit">Guardar</button>
            </form>
            </div>
        </div>
</body>

</html>